.frame-child60 {
  position: absolute;
  top: 0;
  left: 522px;
  border-radius: 41px;
  background: linear-gradient(180deg, #171717, #811b1b);
  width: 442px;
  height: 162px;
}
.contact-button {
  position: relative; /* Changed from absolute to relative */
  border-radius: 41px;
 
  background: linear-gradient(180deg, #171717, #811b1b);
  width: 442px;
  height: 162px;
  color: white;
  font-size: 2rem;
  cursor: pointer; /* Added to change cursor on hover */
}
