.frame-child57 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: rgba(176, 84, 167, 0.72);
  position: absolute;
  top: 590px;
  left: 149px;
  border-radius: 20px;
  width: 360px;
  height: 103px;
}
