.great-lifestyle {
  position: absolute;
  top: 214px;
  left: 1268px;
  font-size: 26px;
  line-height: 125%;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 282px;
  height: 49px;
}
